<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/style.css">
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Location" type="text">
            <button class="button">Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>

        <button id="more-info" style="display: none;">More info ◼</button>

        <p id="message-3" class="hidden"></p>


    </div>

    {{>footer}}

    <script src="js/app.js"></script>
</body>
</html>